.section--footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #343a40;

  .footer__title-size {
    font-size: 26px;
  }

  span {
    cursor: pointer;
    padding: 0 5px;
  }

  span:hover {
    color: gray;
    background-color: #2A2B2E;
    border-radius: 3px;
  }

  .social-links {
    img {
      margin-right: 7px;
    }
  }
}