<div class="container-fluid section--footer">
    <div class="d-flex justify-content-center mb-3">
        <h2 class="text-light text-center footer__title-size mb-0"> Get a perfect holiday!</h2>
    </div>
    <div class="row justify-content-center links mb-3">
        <span class="text-light" routerLink="/">Home</span>
        <span class="text-light" triggers="click" [autoClose]="'outside'" placement="top"
              ngbTooltip="Phone: +40 767 760 454
                          email: tomutcornel@gmail.com">Contact</span>
        <span class="text-light" triggers="click" [autoClose]="'outside'" placement="top"
              ngbTooltip="Select the period you want to go for a vacation, then, select the country.
                          A list of hotels will appear.">Help</span>
    </div>
    <div class="row justify-content-center">
        <div class="social-links">
            <a href="https://www.facebook.com/Tourism-worldwide-526751311145443/?modal=admin_todo_tour" target="_blank">
                <img [src]="facebookImgSrc" (mouseover)="onMouseOver('facebook')" (mouseout)="onMouseOut('facebook')"
                     width="25px" height="25px" alt="facebook-logo">
            </a>
        </div>
    </div>
</div>