<div class="container-fluid section--footer">
    <div class="d-flex justify-content-center mb-3">
        <h2 class="text-light text-center footer__title-size mb-0"> Get an app that looks amazing and actually
            works.</h2>
    </div>
    <div class="row justify-content-center links mb-3">
        <span class="text-light" routerLink="/">Home</span>
        <span class="text-light" routerLink="contact">Contact</span>
        <span class="text-light" routerLink="about">About Me</span>
    </div>
    <div class="row justify-content-center">
        <div class="social-links">
            <a href="https://www.facebook.com/andy.radulescu.7" target="_blank">
                <img [src]="facebookImgSrc" (mouseover)="onMouseOver('facebook')" (mouseout)="onMouseOut('facebook')"
                     width="25px" height="25px" alt="facebook-logo">
            </a>
            <a href="https://www.linkedin.com/in/eduard-andrei-radulescu-980b9b13a/"
               (mouseover)="onMouseOver('linkedin')" (mouseout)="onMouseOut('linkedin')" target="_blank">
                <img [src]="linkedinImgSrc" width="25px" height="25px" alt="facebook-logo">
            </a>
            <a href="https://www.instagram.com/andyradulescu/"
               (mouseover)="onMouseOver('instagram')" (mouseout)="onMouseOut('instagram')" target="_blank">
                <img [src]="instagramImgSrc" width="25px" height="25px" alt="facebook-logo">
            </a>
            <a href="https://github.com/AndyRadulescu"
               (mouseover)="onMouseOver('github')" (mouseout)="onMouseOut('github')" target="_blank">
                <img [src]="githubImgSrc" width="25px" height="25px" alt="facebook-logo">
            </a>
        </div>
    </div>
</div>