.section--main {
  padding-top: 56px;
  min-height: 100vh;
  background-color: #eeeeee;

  .text-container {
    .text {
      font-size: 20px;
      width: 400px;
    }
  }

  .search--container {
    padding-left: 0;

    .search--btn {
      padding: 6px 22px;
    }
  }
}