<div class="container section--room-detail">
    <div class="hotel--item row mb-2" *ngIf="actualHotel">
        <div class="col-lg-6 image--container">
            <img src="{{actualHotel.image_url}}" alt="hotel image">
        </div>

        <div class="col-lg-6 content--container">
            <h2 class="hotel-title text-center">{{actualHotel.name}}</h2>
            <ul class="star--container text-center pl-0">
                <li *ngFor="let star of toArray(actualHotel.stars)">
                    <img class="star-icon" src="../../../../assets/hotelItem/star.png" alt="star">
                </li>
            </ul>
            <p>Location: {{actualHotel.country}} {{actualHotel.city}}</p>
            <p>Address: {{actualHotel.street_address}}</p>
            <p class="hotel-info mb-1">{{actualHotel.description}}</p>
            <p><b>Contact: </b></p>
            <p>Phone number: {{actualHotel.phone}}</p>
            <p>Email address: {{actualHotel.email}}</p>
        </div>
    </div>

    <hr>
    <h2 class="hotel-title">ROOMS:</h2>

    <div class="row align-items-around">
        <div class="col-lg-3 hotel--item shadow-box text-center" *ngFor="let room of actualRoomList">
            <h2 class="hotel-title">{{room.number}}</h2>
            <div class="d-inline-block description-container">
                <p>{{room.description}}</p>
            </div>
            <p>Start date: {{room.start_date | toDateString}}</p>
            <p>End date: {{room.end_date | toDateString}}</p>
            <button (click)="onTakeRoom(room)" [ngClass]="{'btn-success':room.taken,'btn-danger':!room.taken}"
                    type="button" class="btn mb-2">Take Room
            </button>
        </div>
    </div>
    <div class="row justify-content-center mt-4 mb-5">
        <button type="button" class="btn btn-info" (click)="buyRooms()">Buy Rooms</button>
    </div>
</div>
